<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Testwx</display-name>
  <filter>
    <filter-name>FilterDispatcher</filter-name>
    <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterDispatcher</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- 配置serlvet -->
  <servlet>
  	<servlet-name>InitTokenThreanServlet</servlet-name>
  	<servlet-class>com.direct.servlet.InitTokenThreanServlet</servlet-class>
  	<!-- 配置 appid -->
  	<init-param>
  		<param-name>AppId</param-name>
  		<param-value>wxcf6a52a0494ea5e9</param-value>
  	</init-param>
  	<!-- 配置 appid -->
  	<init-param>
  		<param-name>AppSecret</param-name>
  		<param-value>b585e346c24f7f9031fe650e12e2c327</param-value>
  	</init-param>
  	<!-- 启动默认执行一次 -->
  	<load-on-startup>0</load-on-startup>
  </servlet>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>